:root.theme-dark {
  --bg-color: #000028;
  --bg-image: url("../images/cover-image-dark.png");
  --accent-color: #ff0070;
  --main-color: #f1b2ce;
  --title-color: #db00ff;
  --subtitle-color: #000028;
  --section-title-color: #ff0070;
  --button-color: #ff0070;
  --decor-color: #ff0070;
}

@media (prefers-color-scheme: dark) {
  :root:not(.theme-light) {
    --bg-color: #000028;
    --bg-image: url("../images/cover-image-dark.png");
    --accent-color: #ff0070;
    --main-color: #f1b2ce;
    --title-color: #db00ff;
    --subtitle-color: #000028;
    --section-title-color: #ff0070;
    --button-color: #ff0070;
    --decor-color: #ff0070;
  }
}

:root.theme-dark .header__rec {
  display: block;
}

@media (prefers-color-scheme: dark) {
  :root:not(.theme-light) .header__rec {
    display: block;
  }
}

