.page {
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: auto 768px;
  background-attachment: fixed;
  color: var(--main-text-color);
}

.header {
  position: relative;
  min-height: max(668px, 100vh);
  padding: 0 10px;
}

.header__rec {
  position: absolute;
  color: var(--rec-color);
  text-transform: uppercase;
  top: 11px;
  right: 39px;
}

.header__rec::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  margin: -5px -20px 0 0;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--rec-color);
  background-color: var(--rec-color);
  top: 50%;
  right: 0;
}

.header__theme-menu {
  padding-top: 75px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 11px;
}

.header__theme-menu-button {
  font-size: 18px;
  font-weight: 400;
  color: var(--corners-color);
  line-height: 100%;
  padding: 1.5px 11px;
  border: 1px solid transparent;
  background: none;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: var(--hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom-color: var(--corners-color);
}

.header__theme-menu-button_active {
  padding: 2.5px 12px;
  border: 1px solid var(--corners-color);
}

.header__title {
  margin-left: 0;
  color: var(--title-color);
  font-size: clamp(6rem, 30.933vw, 7.25rem);
  font-weight: 700;
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--title-decor);
}

.header__title-container {
  display: flex;
  flex-direction: column;
  gap: 57px;
  padding: 70px 0 74px;
}

.header__subtitle {
  width: 100%;
  align-self: flex-end;
  color: var(--article-title-color);
  font-weight: 700;
}

.main {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  gap: 50px;
  margin: 34px 0;
  padding: 0 10px;
}

.section {
  line-height: 130%;
}

.section__title {
  width: 100%;
  margin-bottom: 20px;
  color: var(--section-title-color);
  font-size: 18px;
  font-weight: 700;
}

.dark-title {
  color: var(--article-title-color);
}

.section__article-list {
  display: flex;
  flex-wrap: wrap;
}

.section__article-list-title {
  font-size: 18px;
  font-weight: 700;
  color: var(--article-title-color);
}

.section__article-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section__article-title {
  font-size: 18px;
  font-weight: 700;
  color: var(--article-title-color);
}

.section__article-title_regular {
  font-weight: 400;
}

.section__article-text-link {
  border: transparent;
  text-shadow: 2px 2px 0 var(--link-shadow);
}

.section__article-text-link:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.section__article-text-link:focus {
  outline: none;
}

.section__article-text-link:focus-visible {
  outline: 1px solid var(--main-text-color);
}

.section_type_articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section_type_articles .section__title {
  flex: 0 0 auto;
  width: 100%;
  margin-bottom: 20px;
}

.section_type_articles .section__article-list {
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.section_type_cards .section__title {
  width: 100%;
}

.section_type_cards .section__article-list {
  gap: 20px;
}

.section_type_cards .section__article-item {
  flex: 1 0 auto;
  width: 100%;
}

.section_type_gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section_type_gallery .section__title {
  width: 100%;
  margin: 0;
}

.section_type_gallery .section__image {
  width: 100%;
  height: auto;
}

.footer {
  position: relative;
  min-height: max(668px, 100vh);
  margin-top: 40px;
  padding: 262px 10px;
  text-align: center;
}

.footer__title {
  color: var(--title-color);
  font-size: clamp(6rem, 30.933vw, 7.25rem);
  font-weight: 700;
  text-shadow: 2px 2px 0 var(--title-decor);
}

@media (width >= 768px) {
  .header {
    padding: 0 20px;
  }

  .header__rec {
    top: 21px;
    right: 49px;
  }

  .header__theme-menu {
    padding-top: 190px;
  }

  .header__title {
    margin-left: -3%;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    line-height: normal;
  }

  .header__title-container {
    gap: 133px;
    padding: 150px 0 183px;
  }

  .header__subtitle {
    width: 50%;
  }

  .main {
    gap: 80px;
    margin: 60px 0;
    padding: 0 20px;
  }

  .section__title {
    width: 35%;
  }

  .section_type_articles .section__title {
    width: 32%;
    margin-bottom: 20px;
  }

  .section_type_articles .section__article-list {
    width: 65%;
  }

  .section_type_cards .section__title {
    width: 30%;
  }

  .section_type_gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 19px;
  }

  .section_type_gallery .section__title {
    grid-column: 1 / -1;
  }

  .section_type_gallery .section__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .section_type_gallery .section__image:first-of-type,
  .section_type_gallery .section__image:last-of-type {
    grid-column: span 2;
  }

  .section_type_gallery .section__image:nth-of-type(2),
  .section_type_gallery .section__image:nth-of-type(3) {
    grid-row: span 2;
  }

  .footer {
    margin-top: 0;
    padding: 434px 20px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    padding-top: 20px;
  }

  .header__theme-menu-list {
    flex-direction: row;
    align-items: initial;
    justify-content: center;
    gap: 12px;
  }

  .header__title {
    margin-left: -2%;
  }

  .header__title-container {
    gap: 76px;
    padding: 238px 0 136px;
  }

  .section_type_articles .section__title {
    width: 33%;
  }

  .section_type_articles .section__article-list {
    width: 66%;
  }

  .section_type_cards .section__article-list {
    justify-content: space-between;
  }

  .section_type_cards .section__article-item {
    flex: 0 0 auto;
    width: 32%;
  }

  .footer {
    padding: 282px 20px;
  }

  .footer__title {
    text-shadow: 2px 2px 0 var(--title-shadow);
  }
}