.page {
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: var(--main-color);
  font-family: var(--main-font);
  font-size: var(--main-font-size);
}


.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: start;
  min-height: max(668px, 100vh);
  padding: var(--page-padding);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
}

.decorated-zone::before {
  top: var(--page-padding);
  right: var(--page-padding);
  border-top: 1px solid var(--decor-color);
  border-right: 1px solid var(--decor-color);
}

.decorated-zone::after {
  bottom: var(--page-padding);
  left: var(--page-padding);
  border-bottom: 1px solid var(--decor-color);
  border-left: 1px solid var(--decor-color);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
  /*margin-top: -3px;*/
  /*transform: translateY(1px);*/
}

.header__theme-menu-list {
  display: grid;
  gap: 9px;
  list-style: none;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 2px 13px 4px;
  color: var(--button-color);
  background-color: transparent;
  font-family: inherit;
  cursor: pointer;
  font-size: inherit;
  line-height: 18px;
  text-transform: lowercase;

}

.header__theme-menu-button:hover {
  border-color: rgb(255 0 112 / 0.4);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid currentColor;
}

.header__theme-menu-button_active {
  border: 1px solid currentColor;
  pointer-events: none;
}

.header__rec {
  position: absolute;
  top: var(--page-padding);
  right: calc(var(--page-padding) + 28px);
  color: var(--accent-color);
  font-size: var(--main-font-size);
  line-height: 25px;
  text-transform: uppercase;
}

.header__rec::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-left: 10px;
  margin-bottom: 2px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__title {
  align-self: center;
  color: var(--title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.title-decor {
  color: var(--subtitle-color);
  background-color: var(--accent-color);
}

.header__description {
  justify-self: end;
  align-self: center;
  max-width: 355px;
  font-size: var(--main-font-size);
  font-weight: 700;
  line-height: 23.4px;
}

.main {
  padding: 40px var(--page-padding);
}

.content-section {
  display: grid;
  gap: 20px;
}

.content-section__title {
  color: var(--section-title-color);
  font-size: var(--main-font-size);
  font-weight: 700;
  line-height: 23.4px;
}

.card {
  display: grid;
  gap: 10px;
}

.card__title {
  font-size: var(--main-font-size);
  font-weight: 700;
  line-height: 23.4px;
}

.card__text {
  line-height: 23.4px;
}

.content-section:not(:last-child) {
  margin-bottom: 50px;
}

.card__link:hover {
  border-bottom: 1px solid currentColor;
}

.card__link:focus {
  outline: none;
}

.card__link:focus-visible {
  outline: 1px solid currentColor;
}

.card__title_regular {
  font-weight: 400;
}

.card__link {
  color: inherit;
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.gallery {
  display: grid;
  gap: 10px;
}

.gallery__title {
  margin-bottom: 10px;
  color: var(--subtitle-color);
  font-size: var(--main-font-size);
  font-weight: 700;
  line-height: 23.4px;
}

.gallery__image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.footer {
  display: grid;
  place-items: center;
  position: relative;
  min-height: max(668px, 100vh);
  padding: var(--page-padding);
}

.footer__title {
  color: var(--title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

@media (width >= 768px) {
  :root {
    --page-padding: 20px;
  }

  .header {
    min-height: 1024px;
  }

  .header__title {
    margin-left: -20px;
  }

  .header__description {
    max-width: 364px;
  }

  .content-section:first-child {
    display: grid;
    grid-template-columns: 236px 1fr;
    column-gap: 20px;
  }

  .content-section:first-child .content-section__title {
    grid-column: 1;
    grid-row: 1 / -1;
  }

  .content-section:first-child .card {
    grid-column: 2;
  }

  .content-section:nth-child(2) {
    gap: 20px;
  }

  .content-section:nth-child(3) {
    grid-template-columns: 236px 1fr;
    column-gap: 20px;
  }

  .content-section:nth-child(3) .content-section__title {
    grid-column: 1;
    grid-row: 1 / -1;
  }

  .content-section:nth-child(3) .card {
    grid-column: 2;
  }

  .gallery {
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery__title {
    margin-bottom: 0;
    grid-column: 1 / -1;
  }

  .gallery__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .gallery__image:first-of-type {
    grid-column: 1 / 3;
  }

  .gallery__image:nth-of-type(2) {
    grid-column: 3;
    grid-row: 2 / 4;
  }

  .gallery__image:nth-of-type(3) {
    grid-column: 1;
    grid-row: 3 / 5;
  }

  .gallery__image:nth-of-type(4) {
    grid-column: 2;
    grid-row: 3;
  }

  .gallery__image:nth-of-type(5) {
    grid-column: 2 / 4;
    grid-row: 4;
  }
}

@media (width >= 1024px) {
  .header__description {
    max-width: 491px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    grid-auto-flow: column;
  }

  .content-section:first-child {
    grid-template-columns: 315px 1fr;
  }

  .content-section:nth-child(2) {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .content-section:nth-child(2) .content-section__title {
    grid-column: 1 / -1;
    max-width: 315px;
  }

  .content-section:nth-child(3) {
    grid-template-columns: 315px 1fr;
  }

  .header {
    min-height: 768px;
  }

  .main {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}